@charset "utf-8";
@media (max-width: 767px) 
{
	figure.effect-kira figcaption::before {
	    position: absolute;
	    top: 20px;
	}

	.blog-post-sec-indiv img
	{
		max-height:300px;
		min-height: 250px;
		margin-bottom:10px;
	}
	.newsletter p {
		display: none;
	}
	.partner-header {
		display: none;
	}
	.welcome-sec
	{
		padding:20px 0px 20px;
	}
	.services-sec
	{
		padding:20px 10px 20px;
	}
	#carousel-partner {
		height: 30px;
		width: 100%;
	}
	#carousel-partner img {
		height: 30px;
		width: auto;
	}
	#quote-carousel blockquote {
		height: 200px;
		font-size: 14px;
	}
	.grid3 figure {
	    min-width: 100%;
	    max-width:100%;
	}
	.grid figure {
		height: 200px;
	}
	.effect-dexter figcaption {
		display: none;
	}
	.question {
		display: none;
	}
	.carousel-caption {
		display: none;
	}
	.nav-bar-mine {
	    padding: 5px 0px;
	    height: 70px;
	    border-bottom: 0px;
	}
	.shrink
	{
	    margin-top: 53px;
	}
	nav li.search-sec {
		display: none;
	}
	.right-side-items
	{
		float:right !important;
		margin-top:-17px;
	}
	.right-side-items span:nth-child(1)
	{
		display:none;
	}
	.right-side-items span:nth-child(2)
	{
		display:none;
	}
	.info-sec-head 
	{
		display:none;
	}
	nav.navbar.shrink .navbar-collapse 
	{
	    /* width: 100% !important; */
	    background-color: rgba(255,255,255,1) !important;
	    margin-top: -19px !important;
	    margin-right: -31px;
	}
	nav.shrink .navbar-toggle 
	{
	    margin-top: -40px !important;
	    float: right !important;
	}
	.navbar-collapse ul
	{
		background-color:rgba(255,255,255,1) !important;
		z-index:9999 !important;
		margin-top:20px;
	}
	
	nav a {
	  padding-top: 10px !important;
	  padding-bottom: 10px !important;
	  font-size: 12px;
	  font-weight:600 !important;
	  font-family:MyriadPro2;
	  text-transform:uppercase;
	  transition: all 0.4s ease;
	  color:rgba(51,51,51,1) !important;
	}

	nav li a:hover,
	nav li a:focus {
		outline: none;
	}
	.header-menu
	{
		width:100% ;
	}
	.navbar-collapse.in
	{
		overflow-y:visible;
	}
	nav.navbar.shrink .navul {
	    margin-top: -19px !important;
	    transition: all 0.4s ease;
	}
}
@media (min-width: 320px) and (max-width: 425px) 
{
	.carousel .item img {
		height: 150px;
		width: 100%;
	}
	.fb-page {
		max-width: 320px;
	}
}
@media (min-width: 425px) and (max-width: 768px) 
{
	.carousel .item img {
		height: 200px;
		width: 100%;
	}
}
@media (min-width: 768px) and (max-width: 1024px) 
{
	.footer-sec {
		min-height: 200px;
	}
	figure.effect-kira figcaption::before {
	    position: absolute;
	    top: 20px;
	}
	.carousel .item img {
		height: 350px;
		width: 100%;
	}
	nav li.search-sec {
		display: none;
	}
 	.left-side-prt {
		width: 100%;
	}
	 .right-side-prt {
		display: none;
	}
	.question {
		padding: 0;
	}
}
@media (min-width: 1024px) 
{
	.carousel .item img {
		height: 450px;
		width: 100%;
	}
}
