*{padding:0; margin:0;}

body{ font-family: 'Roboto', sans-serif;}
footer.page-footer {
    position: relative;
    bottom: -34px !important;
    color: #fff
}

.gallery-title
{
    font-size: 36px;
    color: #42B32F;
    text-align: center;
    font-weight: 500;
    margin-bottom: 40px;
}
.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}
.filter-button
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #42B32F;
    margin-bottom: 30px;

}
.filter-button:hover
{
    border: 1px solid #42B32F;
    text-align: center;
    color: #ffffff;
    background-color: #42B32F;

}
.btn-default:active .filter-button:active
{
    background-color: #42B32F;
    color: white;
}

.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 30px;
}


/* ------------- logo menu section -------------------------------- */
.logo-nav-section {border-top: 8px solid #9fbd6e;}
.logo-nav-section .navbar{ box-shadow: none; }
.navbar .nav-item .nav-link {color: #2b2b2b; padding: 20px;}
.intro-header-sec{
    position: absolute;
    top: 30%;
    left: 10%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    width: 40%;

}
.intro-header-sec .btn{
    color: #fff}
.pagination li.active{
	background:#4285f4;
	color: white;
}
.pagination li {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border: 0;
}
/* ------------ services section ------------------------ */

.services {margin-top:100px;}
.services .card {border-radius: 5px; position: relative;}
.services .card:hover{background-color: #e4ffc7; color: #5c5c5c;}
.services .card .web-icon { height: 81px; width: 81px; border-radius: 50%; font-size: 45px; top: -50px; left:142px;  position: absolute;}
.services .card h4{text-align: center; padding-top: 50px; font-size: 25px; font-weight: bold;}
.services .card .services-list .list-group {text-align:center;}
.services-list .list-group .btn {  align-self: center; margin:30px 0; font-size: 15px; border-radius: 15px; }

ol li ul{
    padding-left: 20px;
}

/* -------------- Our Top Services ------------------------ */
.top-services {margin-top: 50px;}
.top-services {text-align: center;}
.top-services h3{font-size: 30px; font-weight: bold;}
.top-services .services-top-space {margin-top: 30px;}


/* -------------- why choose us ------------------------ */

.why-choose-us { margin-top:50px; background:url(../img/why-us-bg.png) no-repeat #7cb342; }
.why-choose-us-left {margin-top:50px;}
.why-choose-us-left p{color:#fff !important; padding-top:25px; font-size:15px;}
.why-choose-us-left .choose-btn {background:none; border:1px solid #fff; border-radius:15px; font-size:18px; margin-bottom:50px;}
.why-choose-us  h2{font-size: 30px; font-weight: bold; margin-top:50px; color:#fff;}
.choose-right, .choose-left {padding-top:15px; color:#fff;}
.choose-right .media i { font-size:50px; }

/* ----------  our top clients --------------------------- */

.top-clients { margin-top:50px; text-align:center; }

.top-clients .heading-section h2{font-size: 30px; font-weight:bold;}

/*---------------- client-say ---------------------------- */

.client-say {margin-top:50px; text-align:center;}
.client-say .heading-section h2{font-size: 30px; font-weight:bold;}
.client-say .testimonial-card { position:relative; margin-top:100px;}
.client-say .card-body{padding-top:155px;}
.client-say .testo-img { position:absolute; top:-50px;  left: 50px;}


/* --------------- latest-news ------------------------ */

.latest-news {margin-top:50px;}
.latest-news .heading-section { text-align:center;} 
.latest-news .heading-section h2{font-size: 30px; font-weight:bold;}
.latest-news .news-coll {margin-top:35px;}
.latest-news .news-coll .card-body-cascade .pink-text i,small { color:#8d8d8d; font-size:15px;}
.latest-news .news-coll .btn-unique { background-color:#fff !important; color:#000 !important; border:1px solid #000; border-radius: 15px; font-size: 15px;}



/* -------------------- footer-section ------------------------ */
.mdb-color {margin-top:50px; background-color:#494949 !important;}



/* ----------------------------------- about-us-top-part- ------------------ */
.about-us-top-part {
    background: url(../img/about-us-top.png) no-repeat;
    background-position: center center;
    color:#fff; font-weight:bold; text-align:center;
}
.banner  h1{color:#fff; font-weight:bold; text-align:center; padding:100px 0;}
.about-mid { margin-top:50px;}



/* ---------------- Portfolio ------------------------------------ */
.portfolio button.btn.btn-rounded.waves-effect.waves-light {
    margin-top: -17px; border:1px solid #fff; background:none;
}

 .logo-nav-section {background-color: #fff; }
 main{
    position: relative;
    top:87px;
 }

/*- ---------------------- contact-info --------------------------- */

.contact-info .address-part ul li { list-style:none;}
.contact-info .address-part ul li i { color:#222; font-size:18px;}


/* --------------------  services singal page ------------------ */
.services-singal-page { background-color:#fff; padding:20px;}
.services-singal-page p img{
    width: 70%;
    height: 100%;
    padding-top: 20px;
}
.services-singal-page ul {
    padding-left: 50px;
}
.services .card .web-icon {left: 37%}
/* Small devices (landscape phones, less than 768px) */
@media (max-width: 768px) { 
    .client-say .testo-img { position:absolute; top:-50px;  left: 37%; }
    .services .card .web-icon { left: 45% }
    main{
        position: relative;
        top:79px;
     }
     .intro-header-sec .title-hr{display: none;}
 }
/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
.services .card .web-icon { top: -50px; left:40%;  position: absolute;}
.client-say .testo-img { position:static; top:-50px;  left: 37%;}

.client-say .card-body { padding-top:0; }

.client-say .testimonial-card {
    
    margin-top: 30px;
}
main{
    position: relative;
    top:89px;
 }

}



/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { .services .card {margin-top: 88px;} .services {margin-top:0;}}

/*  Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { 

    .navbar .nav-item .nav-link {color: #2b2b2b; background-color:#fff; }
    .logo-nav-section .navbar { width: 100%;}
    .logo-nav-section  .fa-navicon:before, .fa-reorder:before, .fa-bars:before {
        content: "\f0c9";
        color: #2c6221;
        font-size: 25px;
    }
    .logo-nav-section {background-color: #fff; border-top: 0}

   
}

